<!DOCTYPE html>
<html>
	<head>
		<title>Go! Wild || Kenya</title>
		<!-- styles -->
		<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
		<link rel="stylesheet" type="text/css" href="/styles/styles.css">
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">

		<!-- scripts -->
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<div class="container-fluid">
			<div class="top-nav">
				<div class="col-lg-4 col-md-4 col-sm-4 pull-left">
					<h3 class="no-padding no-margin">Go Wild Kenya </h3>
				</div>
				<div class="col-lg-4 col-md-7 col-sm-7 pull-right">
					<h3 class="no-padding no-margin">WELCOME TO ADMIN PANEL </h3>
				</div>
			</div>
			<div class="side-bar">
				<ul class="nav my-nav">
					<li class="nav-item">
						<a class="nav-link" href="/admin/dashboard">DashBoard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/add-cat">Add Category</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/add-list">Add List</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/add-place">Add Place</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/view-places">View Places</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/admin/add-admin">Add Admin</a>
					</li>
					<li class="nav-item">
						<a class="nav-link disabled" href="#">SignOut</a>
					</li>
				</ul>
			</div>

			<!-- main body -->
			#parse($template)
			
		</div>
	</body>
</html>