<!DOCTYPE html>
<html>
	<head>
		<title>Go! Wild || Kenya</title>
		<!-- styles -->
			<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
			<link rel="stylesheet" type="text/css" href="/styles/styles.css">

			<!-- scripts -->
			<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body>
		<div class="container">
		
			#parse($template)

		</div>
	</body>
</html>